<div class="container">
  <div class="text-center">
    <h2>Aviso de Privacidad Sitio Web Integral</h2>
  </div>
  <div class="text-justify">
    <p>
      ACL SYSTEMS S.A. de C.V. (nombre comercial: ACL SYSTEMS) con domicilio en Rio Coahuayana 12, Colinas Del Lago, Cuautitlán Izcalli, México, C.P.54744, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
    </p>
  </div>
  <div class="text-left">
    <h4>Departamento de Privacidad</h4>
  </div>
  <div class="text-justify">
    <p>
      Para atender cualquier solicitud acerca del ejercicio de sus derechos ARCO, para la revocación del consentimiento que nos haya otorgado del tratamiento de sus datos personales, para limitar el uso o divulgación de sus datos, o acerca de las finalidades para el tratamiento de sus datos personales, ponemos a su disposición nuestro Departamento de Privacidad en los siguientes medios de contacto:
    </p>
    <p>
      Departamento de Privacidad <br>
      Correo electrónico: soporte@superatemexico.com <br>
      Para poder comunicarnos con usted, necesitamos los siguientes datos personales y de contacto en su solicitud: <br>
      <li>
        Nombre del titular
      </li>
      <li>
        Carta de autorización en caso de que la solicitud la haga otra persona que no sea el titular
      </li>
      <li>
        Copia de identificación del titular
      </li>
      <li>
        Correo electrónico
      </li>
      <li>
        Teléfono
      </li>
    </p>
  </div>
  <br>

  <div class="text-left">
    <h4>¿Qué datos personales utilizaremos para estos fines?</h4>
  </div>
  <div class="text-justify">
    <p>
      Para llevar a cabo las finalidades descritas en el presente Aviso de Privacidad, utilizaremos los siguientes datos personales:
      <li>
        Datos de contacto
      </li>
      <li>
        Datos de indentificación
      </li>
      <li>
        Dato académicos
      </li>
    </p>
  </div>
  <br>

  <div class="text-left">
    <h4>¿Cómo puede Acceder, Rectificar o Cancelar sus datos personales, u Oponerse a su uso?</h4>
  </div>
  <div class="text-justify">
    <p>
      Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
    </p>
    <p>
      Si usted desea ejercer sus derechos ARCO, lo podrá hacer contactándose con nuestro Departamento de Privacidad en los medios establecidos en el presente aviso.
    </p>
  </div>
  <br>

  <div class="text-left">
    <h4>¿Cómo puede revocar su consentimiento para el uso de sus datos personales?</h4>
  </div>
  <div class="text-justify">
    <p>
      Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar qué para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>
    <p>
      Para conocer el procedimiento y requisitos para la revocación de su consentimiento, usted podrá ponerse en contacto con nuestro Departamento de Privacidad a través de los medios especificados en el presente aviso.
    </p>
  </div>
  <br>

  <div class="text-left">
    <h4>¿Cómo puede limitar el uso o divulgación de su información personal?</h4>
  </div>
  <div class="text-justify">
    <p>
      Si usted desea limitar el uso o divulgación de su información personal podrá solicitarlo a nuestro Departamento de Privacidad a través de los medios especificados en el presente aviso.
    </p>
    <p>
      Adicionalmente, podemos poner a su disposición procedimientos y mecanismos específicos mediante los cuales puede limitar el uso de su información personal. Estos procedimientos y mecanismos específicos se informarán a través de los medios que utilicemos para comunicarnos con usted u otros que consideremos adecuados.
    </p>
  </div>
  <br>

  <div class="text-left">
    <h4>Uso de Cookies y tecnologías de rastreo</h4>
  </div>
  <div class="text-justify">
    <p>
      Las cookies son pedazos de información en forma de pequeños archivos que se localizan en su disco duro y son generados por nuestro sitio web. Estos archivos hacen que la interacción con nuestro sitio sea más rápida y fácil, recordando preferencias, datos de comportamiento o datos de registro en nuestro sitio. La información que contienen puede ser utilizada cuando usted visita nuestro sitio y sitios externos.
    </p>

    <p>
      Algunas páginas o correos nuestros pueden contener pequeñas imágenes invisibles llamadas “web beacons” o “pixel tags”. Los web beacons rastrean su comportamiento en una página o correo de forma similar a las cookies.
    </p>

    <p>
      Le informamos que las cookies y otras tecnologías de rastreo las utilizamos para las siguientes finalidades:
    </p>
    <li>
      Para permitir el registro e inicio de sesión en nuestro sitio
    </li>
    <li>
      Para el correcto funcionamiento de la tienda en línea, guardar los artículos que ha agregado al carrito de compras y permitir el pago de los mismos
    </li>
    <br>
    <p>
      Además, podemos utilizar la información para fines publicitarios y de remarketing. El remarketing es un método que muestra nuestros anuncios en sitios ajenos a éste en función de visitas pasadas a nuestro sitio. Los anuncios se pueden mostrar en forma de banners o publicaciones sugeridas.
    </p>
    <p>
      Puede solicitar la inhabilitación del uso de cookies para publicidad, mediante la página de Network Advertising Initiative (inglés):
    </p>
    <p>www.networkadvertising.org/choices/</p>
    <p>Para inhabilitar los anuncios de Google:</p>
    <p>www.google.com/settings/ads/?hl=es</p>
    <p>Igualmente puede consultar las políticas de privacidad de las compañías que utilizamos para fines publicitarios y de remarketing:</p>
    <li>
      Google: www.google.com/intl/es_mx/policies/privacy/
    </li>
    <li>
      Facebook: www.facebook.com/policies/cookies/
    </li>
    <br>
    <p>
      Si usted prefiere deshabilitar las cookies completamente, lo puede hacer en la mayoría de los exploradores de internet. Tenga en cuenta que este sitio puede dejar de funcionar correctamente al hacerlo. En las versiones más recientes de los exploradores Mozilla Firefox, Internet Explorer y Google Chrome, la opción para deshabilitar las cookies se encuentra en la sección de “Privacidad” en las opciones de configuración de cada explorador.
    </p>
  </div>
  <br>

  <div class="text-left">
    <h4>¿Cómo puede conocer los cambios a este Aviso de Privacidad?</h4>
  </div>
  <div class="text-justify">
    <p>El presente Aviso de Privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</p>
    <p>Los cambios al Aviso de Privacidad se informarán a través de nuestro sitio web en la siguiente dirección: https://conalepvirtual.superatemexico.com</p>
  </div>
  <br>

  <div class="text-left">
    <h4></h4>
  </div>
  <div class="text-justify">
    <p></p>
  </div>
  <br>
</div>
