<div *ngIf="identiti" class="container">
  <h1 class="display-3 text-center">Seleccione un Curso</h1>
  <hr>
  <div class="card animated fadeIn fast" *ngFor="let crs of cursoslist, let id=index">
    <div class="card-header">
      <button type="button" class="btn btn-link enlace" (click)="getCourse(crs.id)">
        <h6><i class="far fa-arrow-alt-circle-right"></i> {{crs.title}} CLAVE: {{crs.code}}</h6>
      </button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-success blockquote" (click)="getEditManager()">
    <i class="fas fa-reply"></i> Regresar
  </button>
</div>
