<div *ngIf="identiti" class="container">
  <div class="row">

    <!--Tarjeta con la informacion del curso-->
    <div class="col-4">
      <div class="card mb-3" *ngFor="let item of contcourse">
        <img class="card-img-top" [src]="item.image" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text text-justify"><b>Descripción:</b> {{item.description}}</p>
          <h6>CLAVE <small>{{item.code}}</small></h6>
          <h6>Categoría</h6>
          <div *ngFor="let itemCat of item.categories">
            <li>{{itemCat}}</li>
          </div>
          <hr>
          <h6>Autor: {{item.author}}</h6>
          <h6><small>Fecha de inicio: {{beginDateSpa}}</small></h6>
          <h6><small>Fecha de cierre: {{endDateSpa}}</small></h6>
        </div>
        <div class="card-footer">
          <button type="button" name="button" class="btn btn-success" [routerLink]="['/mygroups']">
            <i class="fas fa-reply"></i> Regresar
          </button>
        </div>
      </div>
    </div>
    <!--  -->

    <!--Seccion de las pestañas para el cuerpo de la vista del curso-->
    <div class="col-8">
      <ngb-tabset [justify]="justified">
        <ngb-tab *ngIf="endCourse">
          <!--Seccion del temario del curso-->
          <ng-template ngbTabTitle><div class="text-success">Contenido</div></ng-template>
          <ng-template ngbTabContent>
            <!--Comienza el temario del curso-->
            <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
              <div *ngFor="let itemBlock of block;let indiceBlock = index">
                <div *ngIf="itemBlock.number==0">
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span class="text-success"><b>{{itemBlock.title}}</b></span> <span *ngIf="itemBlock.beginDate" class="text-right text-secondary"> | <i class="far fa-calendar-alt"></i> Fecha de inicio: {{itemBlock.beginDate | date}}</span> <span *ngIf="itemBlock.endDate" class="text-right text-secondary"> | <i class="far fa-calendar-alt"></i> Fecha de término: {{itemBlock.endDate | date}}</span><span *ngIf="itemBlock.duration" class="text-right text-secondary"> | <i class="far fa-clock"></i> Duración:{{itemBlock.duration}}</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <!---->
                      <div *ngIf="indiceBlock==0 && !itemBlock.track" class="alert alert-secondary" role="alert">
                        <button type="button" class="btn btn-link enlace" (click)="getBlock(itemBlock.id)">
                          <h6>
                            <i class="far fa-flag"></i> Iniciar Curso
                          </h6>
                        </button>
                      </div>

                      <!---->
                      <div *ngIf="itemBlock.track" class="alert alert-success text-justify" role="alert">
                        <button type="button" class="btn btn-link enlace" (click)="getBlock(itemBlock.id)">
                          <h6>
                            <i class="far fa-calendar-check"></i> {{itemBlock.section}}.{{itemBlock.title | slice:0:80}}
                          </h6>
                        </button>
                      </div>

                      <!-- -->
                      <div *ngIf="!itemBlock.track" class="alert alert-secondary" role="alert">
                        <h6>
                          <i class="far fa-calendar-times"></i> {{itemBlock.section}}.{{itemBlock.title}}
                        </h6>
                      </div>

                      <!---->
                      <div *ngFor="let itemBlockL of block">
                        <!-- <div *ngIf="itemBlockL.number !=0 && itemBlock.section == itemBlockL.section && itemBlockL.track" class="list-group-item"> -->
                        <div *ngIf="itemBlockL.number !=0 && itemBlock.section == itemBlockL.section && itemBlockL.track" class="alert alert-success text-justify" role="alert">
                          <button type="button" class="btn btn-link enlace" (click)="getBlock(itemBlockL.id)">
                            <i class="far fa-calendar-check"></i> {{itemBlockL.section}}.{{itemBlockL.number}} {{itemBlockL.title | slice:0:85 }}
                          </button>
                        </div>
                        <!--<div *ngIf="itemBlockL.number !=0 && itemBlock.section == itemBlockL.section && !itemBlockL.track" class="list-group-item">-->
                        <div *ngIf="itemBlockL.number !=0 && itemBlock.section == itemBlockL.section && !itemBlockL.track" class="alert alert-secondary text-justify" role="alert">
                          <i class="far fa-calendar-times"></i> {{itemBlockL.section}}.{{itemBlockL.number}} {{itemBlockL.title | slice:0:85 }}
                        </div>
                      </div>
                    </ng-template>
                  </ngb-panel>
                </div>
              </div>
            </ngb-accordion>
            <!--Termina el temario del curso-->
          </ng-template>
          <!--  -->
        </ngb-tab>
        <ngb-tab>
          <!--Dashboard del alumno en el curso-->
          <ng-template ngbTabTitle><div class="text-success">Mi progreso actual</div></ng-template>
          <ng-template ngbTabContent>
            <br>
            <div *ngIf="!endCourse" class="alert alert-warning text-center" role="alert">
              <h3><i class="fas fa-exclamation-triangle"></i> Curso Cerrado</h3>
            </div>
            <div class="alert alert-success" role="alert">
              <div *ngIf="certificateActive">
                <div *ngIf="!pass">
                  <button type="button" class="btn btn-secondary blockquote" style="margin-top:15px;" disabled>
                    <i class="fas fa-certificate"></i> Imprimir constancia
                  </button>
                </div>
                <div *ngIf="pass">
                  <a href='https://goo.gl/forms/ysPqeLpN4yIJPmeZ2' target="_blank" type="button" class="btn btn-success blockquote" style="margin-top:15px;" (click)="shownewDoubt(infoconst)"><i class="fas fa-certificate"></i> Imprimir constancia</a>
                </div>
              </div>
              <button *ngIf="endCourse" type="button" class="btn btn-outline-success blockquote" style="margin-top:15px;" (click)="getLesson()">
                <i class="fas fa-play"></i> Ir al curso
              </button>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h4>Para poder obtener la constancia de este curso, necesitas los siguientes ponderadores:</h4>
              <p class="font-italic">
                <li>
                  Calificación final minima aprobatoria: {{minGrade}}
                </li>
                <li>
                  Avance de este curso: {{minTrack}}
                </li>
              </p>
            </div>
            <div class="alert alert-success" role="alert">
              <h4>Avance actual en este curso: </h4>
              <ngb-progressbar showValue="true" type="success" [value]="trackPercent | number:'.0-0'"></ngb-progressbar>
            </div>
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr class="text-center">
                    <td colspan="5"><b>Estructura de la calificación</b></td>
                  </tr>
                  <tr class="text-center">
                    <td class="table-secondary">Lección</td>
                    <td class="table-active"><b>Evaluación / Actividad</b></td>
                    <td class="table-info"><b>Ponderación</b></td>
                    <td class="table-warning"><b>Obtuviste</b></td>
                    <td class="table-success"><b>Tu calificación</b></td>
                  </tr>

                </thead>
                <tbody>

                  <tr *ngFor="let item of blockgrades;let idblock=index" class="text-center table-light">
                    <td>{{item.blockSection}} . {{item.blockNumber}}</td>
                    <td>{{item.blockTitle}}</td>
                    <td>{{item.blockW | number:'.0-2'}}%</td>
                    <td>{{item.grade | number:'.0-2'}}</td>
                    <td>
                      <div *ngFor="let itemgrade of grades;let idgrade = index">
                        <div *ngIf="idgrade==idblock">
                          {{itemgrade | number:'.0-2'}}
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-center">
                    <td class="table-secondary"> </td>
                    <td class="table-active"><b>Total de calificación</b></td>
                    <td class="table-info"><b>{{totalgrades | number:'.0-2'}}%</b></td>
                    <td class="table-warning"></td>
                    <td class="table-success"><b>{{gradefinal | number:'.0-2'}}</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
          <!--  -->
        </ngb-tab>
        <ngb-tab *ngIf="endCourse">
          <!--Seccion del material de apoyo del curso-->
          <ng-template ngbTabTitle><div class="text-success">Material de apoyo</div></ng-template>
          <ng-template ngbTabContent>
            <div *ngFor="let itemResource of resources" style="margin-top:15px">
              <h4>{{itemResource.title}}</h4>
              <div [innerHTML]=itemResource.content>

              </div>
              <div *ngIf="itemResource.embedded">
                <iframe width="100%" height="400" [src]=" itemResource.embedded | videos" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <hr>
            </div>
          </ng-template>
          <!--  -->
        </ngb-tab>
        <ngb-tab *ngIf="endCourse">
          <!--Seccion del FAQ del curso-->
          <ng-template ngbTabTitle><div class="text-success">Foro de discusión</div></ng-template>
            <ng-template ngbTabContent>
              <button class="btn btn-success blockquote" style="margin-top:15px" type="button" (click)="shownewDoubt(newDoubtComment)"><i class="fas fa-tag"></i> Envia tu duda o comentario acerca de este curso</button>
              <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
                <div *ngFor="let itemDiscussion of discussions | paginate: { itemsPerPage: 20, currentPage: p }; let idDC = index">
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span class="text-success">
                        <h6><i class="fas fa-quote-left"></i> {{itemDiscussion.title}}</h6>
                      </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <small><i class="fas fa-user-circle"></i> {{itemDiscussion.user}}  <i class="far fa-clock"></i> {{itemDiscussion.when}}</small>
                      <span class="text-muted">
                        <h5>{{itemDiscussion.text}}</h5>
                      </span>
                      <!--Seccion de comentarios-->
                      <div *ngFor="let itemComment of comments" class="text-success font-italic">
                        <div *ngIf="itemDiscussion.id == itemComment.root" class="col-8 text-left">
                          <hr>
                          <div class="alert alert-success" role="alert">
                            <i class="far fa-comments"></i> {{itemComment.text}} <br>
                            <small><i class="fas fa-user-circle"></i> {{itemComment.user}}  <i class="far fa-clock"></i> {{itemComment.when}}</small>
                            <br>
                            <button *ngIf="!itemComment.block" class="btn text-success btn-link" type="button" (click)="showReply(replyto,itemComment.id, itemComment.root)"><i class="far fa-comment"></i> Responder</button>
                            <button *ngIf="itemComment.block" class="btn text-success btn-link" type="button" (click)="showReply(replyto,itemComment.id, itemComment.root, itemComment.block)"><i class="far fa-comment"></i> Responder</button>
                          </div>
                          <!--Seccion de las respuestas a los comentarios-->
                          <div *ngFor="let itemReply of replys" class="text-secondary font-weight-light">
                            <div *ngIf="itemComment.id == itemReply.replyto" class="col-8 text-right">
                              <div class="alert alert-secondary" role="alert">
                                <i class="far fa-comment"></i> {{itemReply.text}}<br>
                                <small><i class="fas fa-user-circle"></i> {{itemReply.user}}  <i class="far fa-clock"></i> {{itemReply.when}}</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button *ngIf="itemDiscussion.block" class="btn text-success btn-link" type="button" (click)="showComment(newcomment, itemDiscussion.id, itemDiscussion.block)"><i class="far fa-comments"></i> Agregar un comentario</button>
                      <button *ngIf="!itemDiscussion.block" class="btn text-success btn-link" type="button" (click)="showComment(newcomment, itemDiscussion.id)"><i class="far fa-comments"></i> Agregar un comentario</button>
                      <!--Termina la seccion de comentarios-->
                    </ng-template>
                  </ngb-panel>
                </div>
              </ngb-accordion>
              <hr>
              <div class="text-center text-success">
                <pagination-controls (pageChange)="p = $event" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
              </div>
            </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <!--Termina la seccion de las pestañas-->
  </div>
</div>
<!--Modal para agregar nuevas dudas o comentarios newDoubtComment-->
<ng-template #newDoubtComment let-c="close" let-d="dismiss" class="animated fast fadeIn modal-side modal-">
  <!--Encabezado del modal-->
  <div class="modal-header">
    <h4 class="modal-title"><i class="fas fa-tag"></i> Enviar duda o comentario comentario</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--  -->

  <!--Cuerpo del modal para desplegar el mensaje al usuario de aviso de intento-->
  <div class="modal-body">
    <form>
      <p>
        <label for="title" class="text-success">* Título</label>
        <input type="text" class="form-control" #title >
      </p>
      <p>
        <label for="description" class="text-success">* Descripción de Duda o Comentario</label>
        <textarea rows="5" class="form-control" #descr ></textarea>
      </p>
      <button type="button" name="button" class="btn-success" (click)="setDoubt(title.value, descr.value)"><i class="far fa-share-square"></i> Enviar</button>
    </form>
  </div>
  <!--Termina cuerpo del modal-->
</ng-template>
<!---->

<!-- Modal para agregar nuevos comentarios -->
<ng-template #newcomment let-c="close" let-d="dismiss" class="animated fast fadeIn modal-side modal-">

  <!--Encabezado del modal-->
  <div class="modal-header">
    <h4 class="modal-title"><i class="far fa-comments"></i> Agregar comentario</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--  -->

  <!--Cuerpo del modal para agregar un nuevo comentario-->
  <div class="modal-body">
    <p>
      <textarea name="name" rows="8" class="form-control" #descr> </textarea>
    </p>
    <button type="button" name="button" class="btn btn-success" (click)="setComment(descr.value)"><i class="far fa-comments"></i> Enviar comentario</button>
  </div>
  <!--Termina cuerpo del modal-->
</ng-template>
<!--  -->

<!-- Modal para agregar nuevas respuestas -->
<ng-template #replyto let-c="close" let-d="dismiss" class="animated fast fadeIn modal-side modal-">

  <!--Encabezado del modal-->
  <div class="modal-header">
    <h4 class="modal-title"><i class="far fa-comment"></i> Responder</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--  -->

  <!--Cuerpo del modal para agregar una respuesta-->
  <div class="modal-body">
    <p>
      <input type="text" class="form-control" #descr>
    </p>
    <button type="button" name="button" class="btn btn-success" (click)="setReply(descr.value)"><i class="far fa-comment"></i> Responder</button>
  </div>
  <!--Termina cuerpo del modal-->
</ng-template>
<!--  -->

<!-- Modal para confirmar datos de la constancia -->
<ng-template #infoconst let-c="close" let-d="dismiss" class="animated fast fadeIn modal-side modal-">

  <!--Encabezado del modal-->
  <div class="modal-header">
    <h4 class="modal-title"><i class="fas fa-info-circle"></i> ¡Atención!</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--  -->

  <!--Cuerpo del modal para agregar una respuesta-->
  <div class="modal-body">
    <h6>Se expedirá la constancia con los siguientes datos:</h6>
    <p>
      <b>Nombre completo: </b>{{nameStudent}} <br>
      <b>Curso: </b>{{course}} <br>
      <b>Calificación final: </b> {{finalGrade | number:'.0-2'}}
    </p>
    <button type="button" name="button" class="btn btn-success" (click)="getCertificated()"><i class="fas fa-check"></i> Acepto</button>
    <button type="button" class="btn btn-success" (click)="closeDialog()"><i class="fas fa-times"></i> Cancelar</button>
    <hr>
    <p class="text-success"><i>"Una vez expedida la constancia no se pueden realizar modificaciones. Si hay algún dato que requieras modificar, antes de continuar, presiona CANCELAR, y envía un correo a soporte@superatemexico.com, indicándonos los datos correctos. En el correo incluye el RFC."</i></p>
  </div>
  <!--Termina cuerpo del modal-->
</ng-template>
<!--  -->
