<div *ngIf="identiti && rolOrg" class="container">
  <h3><i class="fas fa-key"></i> Reseteo de Contraseña</h3>
  <hr>
  <ngb-alert *ngIf="messageError" type="danger" (close)="messageError = null">{{messageError}}</ngb-alert>
  <ngb-alert *ngIf="messageSuccess" type="success" (close)="messageSuccess = null">{{messageSuccess}}</ngb-alert>
  <h5><i class="fas fa-key"></i> Reseteo de contraseña por usuario</h5>
  <p>
    <input type="text" placeholder="correo electrònico del usuario" class="form-control" #emailuser >
  </p>
  <button type="button" class="btn btn-success blockquote" (click)="resetpass(emailuser.value)"><i class="fas fa-sync-alt"></i> Resetear contraseña</button>
  <hr>
  <h5><i class="fas fa-users"></i> Reseteo de contraseña masivo</h5>
  <p>
    <input type="file" accept="text/csv" (change)="loadFile($event.target.files)">
  </p>
  <button type="button" class="btn btn-success blockquote" (click)="testParser()"><i class="fas fa-sync-alt"></i> Resetear contraseñas</button>
  <br>
  <a href="assets/FormatoMasivoResetPasswords.csv" download="FormatoMasivoResetPasswords.csv" class="btn btn-success" role="button" aria-pressed="true"><i class="fas fa-file-alt"></i> *Formato de archivo.</a>
  <hr>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div *ngIf="csvResult.length != 0" class="alert alert-info" role="alert">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let item of csvResult">
              <td>{{item}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-2">

    </div>
  </div>
</div>
