<hr>
<h4><small>6.- DIAGRAMAS DE ALAMBRADO Y CONEXIONES</small></h4>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="alert alert-secondary text-center" role="alert">
      <p>Objetivo del aprendizaje:<br>
      Al finalizar el tema, el participante aplicará los conocimientos adquiridos, para elaborar una instalación eléctrica por el mismo, se darán las instrucciones por medio de un diagrama eléctrico, colocando las cajas de apagadores, tomacorriente, de registro, tubos conduit, conectores, coples, curvas de 45° y 90°, portalámparas, cableado, termo- magnéticos, se energizará el sistema, se medirá el voltaje y la corriente.</p>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<h5><small>6.1.- PRINCIPIO DEL ALAMBRADO Y CONEXIONES</small></h5>
<p>El primer paso en la realización de una instalación eléctrica, es obtener un diagrama de alambrado y conexiones; en las casas habitación, edificios de departamentos, locales comerciales y en todo tipo de construcción, se debe disponer de un conjunto de planos Arquitectónicos de construcción, entre los cuales debe de encontrarse el de la instalación eléctrica, en donde se muestren los elementos que intervienen como son: salidas, trayectorias de tubos conduit, tableros y elementos eléctricos, así como las características principales de cada uno de estos elementos.</p>
<p>En trabajos pequeños, el electricista puede elaborar un diagrama eléctrico preliminar y de común acuerdo con el usuario, determinar los casos especiales de la instalación indicándolas en el diagrama y poder obtener la aprobación del usuario en cada inmueble en particular.</p>
<p>Para realizar la instalación eléctrica, es necesario que estos diagramas tengan presentación y la información suficiente para obtener la aprobación de la dependencia oficial correspondiente, y poder dar inicio a la ejecución del proyecto.</p>
<h5><small>6.2.- OBJETIVO DE LA INSTALACION ELECTRICA</small></h5>
<p>En la elaboración de una instalación eléctrica, es necesario estar de acuerdo al criterio de las personas que intervienen en el proyecto, cálculo y ejecución de la obra y deben cubrir las siguientes necesidades:</p>
<p><b>SEGURIDAD.-</b> La seguridad debe ser importante en el desarrollo de todas las actividades relacionadas con la electricidad; en la industria, para usuarios de casa-habitación, oficinas, escuelas, locales comerciales, etc., es decir, una instalación eléctrica, calculada, planeada y bien construida, con sus partes peligrosas protegidas, y colocadas en lugares adecuados, evita al máximo los accidentes y los incendios.</p>
<p><b>EFICIENCIA.-</b> La eficiencia de una instalación eléctrica, está en relación directa a su construcción y acabado, considerando la calidad de las lámparas, los aparatos eléctricos, motores, ya que a todos los receptores de energía eléctrica, se les debe de respetar sus datos de placa, tales como el voltaje, la corriente, la frecuencia, aparte de conectarse correctamente.</p>
<p><b>ECONOMIA.-</b> El técnico debe calcular el costo total de la instalación eléctrica, tomando en cuenta el costo inicial de los materiales y equipos instalados, y debe hacer un estudio técnico-económico de la inversión inicial, de los pagos por consumo de energía eléctrica, de los gastos de mantenimiento, así como la amortización de materiales y equipo.</p>
<p><b>MANTENIMIENTO.-</b> El mantenimiento de una instalación eléctrica, debe efectuarse periódicamente, de acuerdo a un programa, realizando la limpieza, la revisión completa del circuito eléctrico, de los equipos eléctricos instalados, la reposición de las partes dañadas, la renovación y los cambios de equipo.</p>
<p><b>DISTRIBUCION.-</b> Cuando se instalen equipos de iluminación, una distribución adecuada de éstos, proporciona en un aspecto agradable, de un nivel luminoso uniforme, la distribución de equipos eléctricos en un local comercial, también da un agradable aspecto al lugar, y como consecuencia, la instalación eléctrica debe ser adecuada, y bien distribuida.</p>
<p><b>ACCESIBILIDAD.-</b> Sabemos que el control del sistema de iluminación, el control de motores, y de otros equipos eléctricos instalados, están sujetos a las condiciones de los locales, al instalar un equipo eléctrico se debe seleccionar el lugar que debe ser de fácil acceso, procurando colocarlos en tal forma que al efectuar la revisión y el mantenimiento, no sean puestos en marcha en forma involuntaria.</p>
<h5><small>6.3.- ELABORACION DE DIAGRAMAS DE ALAMBRADO.</small></h5>
<p>El alambrado de una instalación eléctrica, consiste básicamente de tres etapas, y es como sigue:</p>
<ul>
  <li>Dibujos ó planos en donde se indica por medio de los símbolos convencionales, la localización de los principales elementos de la instalación eléctrica.</li>
  <li>El alambrado y diagrama de conexiones, para cada uno de los elementos de la instalación, esto es muy importante, porque se dan las indicaciones necesarias, sobre todo para el electricista que aún no tiene experiencia.</li>
  <li>Los detalles de la colocación de las partes de la instalación eléctrica, así como las formas de realizar las conexiones y el número de conductores que se tienen para cada elemento eléctrico.</li>
</ul>
<p>El conocimiento general de estas tres etapas, en el inicio del proyecto y del cálculo de una instalación eléctrica, le permiten disponer de la información necesaria para la realización total de dicha instalación.</p>
<p><b>DIBUJOS Ó PLANOS PARA UNA INSTALACION ELECTRICA.-</b> Cuando se preparan dibujos o planos Arquitectónicos para construir una casa-habitación, local comercial, se debe procurar que estos tengan toda la información y  dimensiones necesarias para poder llevar el proyecto hasta su última etapa.</p>
<p>La correcta lectura y la interpretación de estos planos, se adquiere a través del tiempo, y se puede adquirir con la ayuda de una guía, que permita tener una mejor idea práctica, para el desarrollo de una instalación eléctrica completa.</p>
<p>En los dibujos o planos para una instalación eléctrica, se deben usar los símbolos convencionales, para representar cada uno de los elementos, que intervienen en ella, y han sido estandarizados para facilitar a todos aquellos dedicados a las instalaciones eléctricas, para aprender el principio básico de estos diagramas, ver el croquis en planta de un cuarto de casa-habitación en la Fig. 6.1</p>
<div class="text-center">
  Símbolos convencionales distribuidos en un cuarto de una casa-habitación <br>
  <img src="https://www.dropbox.com/s/qfpgt8dvkj1ayee/elec_001.jpg?dl=1" alt="">
</div>
<ul>
  <li>L = Salida de centro para lámpara </li>
  <li>A = Salida de arbotante</li>
  <li>C1 = Contactos dobles </li>
  <li>S1 = Apagador sencillo</li>
  <li>S2 = Apagador de tres vías</li>
</ul>
<p><b>DETALLES DE COLOCACION DE LAS PARTES.-</b> Es necesario aprender a interpretar los diagramas, ya que a partir de esto se comprenderá más fácilmente la instalación eléctrica de cualquier tipo de local, es conveniente tratar por separado cada uno de los componentes que una casa-habitación tiene; en las recámaras, en la sala-comedor, en la cocina, etc., el diagrama nos da una idea más clara de cómo hacerlo, recordando que el objetivo final es tener una instalación eléctrica funcionado.</p>
<p>Se seleccionó una recámara, y se inician los trazos, para mostrar las trayectorias de los tubos conduit, y los elementos eléctricos correspondientes, ver la Fig. 6.</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/9c5k338kxim0mos/elec_002.jpg?dl=1" alt="">
</div>
<p>En el croquis se indica de una manera elemental parte de una casa-habitación, la sala comedor mostrando su planta y un isométrico de alambrado, ver la Fig. 6.3 </p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/5ckav1pwxd35l31/elec_003.jpg?dl=1" alt="">
</div>
<p>En el croquis se indica una parte de la casa-habitación, como la entrada de garaje, mostrando su planta e isométrico de alambrado exterior controlado desde el interior, ver la Fig. 6.4 </p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/cuq0vqauay7vd1w/elec_004.jpg?dl=1" alt="">
</div>
<p>Se muestra el detalle de alambrado de un pasillo de una casa habitación, de una lámpara controlada desde dos posiciones, en planta y en isométrico, ver la Fig. 6.5</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/jets0cpss6apvu8/elec_005.jpg?dl=1" alt="">
</div>
<h5><small>6.4.- DETALLES DEL ALAMBRADO Y DIAGRAMAS.</small></h5>
<p>En la figura siguiente se trata de mostrar cuales son las posibles trayectorias del alambrado en las distintas partes de una casa-habitación, desde luego que existen variantes, algunas más simples y otras más complejas, pero en general, el procedimiento es el mismo, además estas trayectorias se pueden simplificar dependiendo del tipo de tubo conduit usado en la práctica, por ejemplo si usa PVC, se pueden ahorrar condulets y codos, en curvas y cambios de dirección.</p>
<p>En estos diagramas se trata de mostrar principalmente la relación que existe entre el plano de construcción y el plano eléctrico de una casa-habitación y su realización física por medio de los dibujos en planta y con los isométricos, que nos dan una idea de la localización de las salidas para cada elemento eléctrico; como el alumbrado, contactos, apagadores, etc., se podrá observar que solo se muestran las cajas de salida de cada uno, y se ilustran algunos detalles de las conexiones y el alambrado entre los distintos elementos, ver la Fig. 6.6</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/p73r60m61t9a6ki/elec_006.jpg?dl=1" alt="">
</div>
<p>Del plano general de la Fig. 6.6, se muestra el cuadro de mando y protección que se menciona a la entrada del plano de la vivienda, como el inicio de los circuitos que se presenten en el proyecto.</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/as3vzj108toiu61/elec_007.jpg?dl=1" alt="">
</div>
<p>ICP = Interruptor de Control de Potencia.- Se dispara cuando la potencia calculada no es la adecuada.  </p>
<p>IG = Interruptor General.- Protege de sobrecarga o corto-circuito a la instalación completa de la vivienda.</p>
<p>ID = Interruptor Diferencial.- La desconexión de éste interruptor evita la posibilidad de un accidente a personas.</p>
<p>PIA = Pequeños Interruptores Automáticos.- Protege de sobrecarga o corto-circuito a los circuitos que haya dentro de la vivienda o local comercial.</p>
<p>A fin de simplificar los diagramas de alambrado y para evitar confusiones en su interpretación, se debe usar una identificación para los conductores eléctricos, y es como sigue:</p>
<ul>
  <li>L – Conductor de línea a fase</li>
  <li>N – Conductor neutro</li>
  <li>R – Conductor de retorno</li>
</ul>
<p>En las normas técnicas para las instalaciones eléctricas, se recomienda para la ejecución práctica de éstas y con propósitos de facilitar la identificación en el alumbrado, los siguientes colores en los forros de los conductores, es como sigue:</p>
<ul>
  <li>Color NEGRO, conductor de carga de línea a fase</li>
  <li>Color BLANCO o GRIS CLARO, conductor neutral</li>
  <li>Color VERDE, conductor a tierra física</li>
</ul>
<p>Cuando se tienen varios circuitos en un mismo tubo o canalización, se debe usar la forma adecuada de identificación de cada uno de ellos, y así tener la seguridad de que las conexiones estén correctamente</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/w1uwt6yjbcvn31u/elec_008.jpg?dl=1" alt="">
</div>
<h4><small>6.5.- LAMPARA CONTROLADA POR APAGADOR SENCILLO</small></h4>
<p>En el dibujo siguiente se muestra una salida para lámpara incandescente, y un croquis donde se indican sus elementos eléctricos y la forma del cableado, ver la Fig. 6.7 </p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/afowwrx9l3k8o8d/elec_009.jpg?dl=1" alt="">
</div>
<h5><small>6.6.- DOS LAMPARAS CONTROLADAS POR APAGADOR SENCILLO</small></h5>
<p>Frecuentemente en áreas más grandes dentro de la casa-habitación, como es el caso de la sala comedor, es necesario alimentar a dos o más lámparas que estén controladas por un apagador sencillo.</p>
<h5><small>6.7.- LAMPARA CON APAGADOR SENCILLO, ALIMENTANDO A CONTACTO</small></h5>
<p>En las instalaciones eléctricas de casa-habitación es bastante común el alambrado del mismo circuito de la lámpara, el apagador y el contacto, este contacto siempre estará energizado, se muestra en el diagrama, la alimentación de la energía por el lado de la lámpara, ver la Fig. 6.8</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/m2i3ijj6kt4jn4m/elec_010.jpg?dl=1" alt="">
</div>
<h5><small>6.8.- LAMPARA CONTROLADA POR DOS APAGADORES DE TRES VIAS</small></h5>
<p>Esta instalación eléctrica es muy común, en pasillos, salones, comedor, los apagadores de tres vías se instalan en la puerta de entrada y en la puerta de salida, o en escaleras con apagadores instalados en la parte inferior y en la parte superior, éstos apagadores se fabrican de tal manera que sus contactos pueden alternar sus posiciones pero ninguna de ellas es ENCENDIDO o APAGADO, ver la Fig. 6.9</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/lb16kns5b5l84lu/elec_011.jpg?dl=1" alt="">
</div>
<h5><small>6.9.- LAMPARAS CONTROLADAS POR DOS APAGADORES DE 3 VIAS Y UNO DE 4 VIAS</small></h5>
<p>De acuerdo a las necesidades que se presenten en el local, donde se requiera instalar lámparas para alumbrado, y controlarlas desde dos o más lugares distantes, se utilizan los apagadores de cuatro vías, éstos apagadores se fabrican de tal manera que sus contactos pueden alternar sus posiciones, pero ninguna de ellas es ENCENDIDO o APAGADO y se pueden identificar por sus cuatro terminales.</p>
<p>Estos apagadores se usan cuando una o más lámparas se deben controlar desde tres puntos diferentes; para cumplir con ésta función, se instalan dos apagadores de tres vías, uno del lado de la carga y el otro del lado de la fuente, y el apagador de cuatro vías se instala al centro, se muestra un croquis con el señalamiento de los cables conductores y el seguimiento apropiado para su instalación, observe las exposiciones presentadas en la Fig. 6.11</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/g9i2aec4cy235db/elec_012.jpg?dl=1" alt="">
</div>
<p>Continuando con las instalaciones de los apagadores de tres y cuatro vías, en el croquis se muestran controlando una lámpara al centro, se indica el cableado y la colocación de los apagadores, ver la Fig. 6.12</p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/veb4425x3gjn66u/elec_013.jpg?dl=1" alt="">
</div>
<p>En las prácticas efectuadas en el curso de electricidad, se utilizaron herramientas básicas y materiales apropiados para elaborar los circuitos eléctricos, basados en diagramas y dibujos representativos, y así poder comprender el proceso del desarrollo de una instalación eléctrica completa, para efectuar éste trabajo, se presentan algunas de las principales herramientas y equipo que se utiliza por los electricistas, ver la Fig. 6.13 </p>
<div class="text-center">
  <img src="https://www.dropbox.com/s/iwcwndf38bgrs4f/elec_014.jpg?dl=1" alt="">
</div>
