/* You can add global styles to this file, and also import other style files */
/*animaciones*/
.enlace{
  color: #4CAF50;
}

.imgcarrusel{3
  max-width: 150%;
  height: auto;
}
.imagenesCurso{
  height: 180px;
  width: 285px;
}
.main-container{
  margin-top:85px;
  margin-bottom:105px;
}
#footer {
   position:fixed;
   left:0px;
   bottom:10px;
   height:30px;
   width:99%;
   background:#999;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedC {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fastC {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.texto-vertical{
  width:5px;
  word-wrap:break-word;
  text-align:center;
}

.texto-vertical-rotate{
  writing-mode:vertical-lr;
  transform: rotate(180deg);
}

.texto-vertical-rotate-desc{
  writing-mode:vertical-lr;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/img/Cube-1s-200px.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.loaderSpinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/img/Ellipsis-1.8s-200px.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
